.container-parallel {
    /* Use Flexbox to put the divs in parallel */
    display: flex;
    gap: 10px; /* Space between the two divs */
    margin-bottom: 10px;
    width: 100%;
   
}

.box {
    /* Same height and width */
    width: 50%;
    height: 450px;
    border: 1px solid #333;
}

.green-box {
    background-color: green;
}

.red-box {
    background-color: red;
    background-image:url(../1.webp) ;
}

@media (max-width: 576px){
  .container-parallel{
    flex-direction: column;
  }
  .green-box {
    width:100%;
  }

  .red-box {
      width:100%;
  }
}
